<!DOCTYPE html>
<html>
  <head>
    <title>微信H5展示页面模板框架</title>
    <meta name='viewport' content='width=device-width, initial-scale=1, user-scalable=no'>
    <meta name='apple-touch-fullscreen' content='YES' />
    <meta name='apple-mobile-web-app-status-bar-style' content='black' />
    <link rel='stylesheet' href='/stylesheets/wechat-H50.css' />
    <script src='/javascripts/wechat-H50.js'></script>
    <style>
      #test {
        height: 100px;
        width: 100px;
        background-color: gray;
        -webkit-transition: -webkit-transform 1s ease-out;
      }
      button {
        width: 100px;
        height: 50px;
        margin: 20px;
      }
    </style>
  </head>
  <body>
    <ul id='app'>
      <li style='background: red;'>
        <h1>Page1</h1>
        <p>这是一个CSS3动画</p>
        <div id="test"></div>
        <button onClick="controller.changePage(3);">page4</button>
      </li>
      <li style='background: yellow;'>
        <h1>Page2</h1>
        <p>test2</p>
      </li>
      <li style='background: blue;'>
        <h1>Page3</h1>
        <p>test3</p>
      </li>
      <li style='background: green;'>
        <h1>Page4</h1>
        <p>test4</p>
        <button onClick="controller.changePage(0);">page1</button>
      </li>
    </ul>
    <script>
      // var controller = new webchat({
      //   target: document.getElementById('app'),
      //   method: 'touchmove',
      //   effect: 'cut-in'
      // });

      var controller = new webchat({
        target: document.getElementById('app'),
        method: 'touchmove',
        effect: 'fade-out'
      });

      console.log(controller);
    </script>
  </body>
</html>
