html * {
  margin: 0;
  padding: 0;
}

html, body {
  width: 100vw;
  height: 100vh;
  overflow: hidden;
}

body > ul > li {
  width: 100vw;
  height: 100vh;
  position: relative;
  display: block;
  list-style-type: none;
}
